/*********INICIO CALENDARIO*********/


.select--content {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 3rem;


}
.button--select-content{
    display: flex;
    right: 50%;
    bottom: 5%;

}
.button--select{
    background-color: rgb(240, 8, 93);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.button--select-content{
    position: relative;
    left: 500px;
    top: 20px;
}
.button--select:hover{
    cursor: pointer;
}
.content--select1,.content--select2 {
    display: inline;
    margin-right: 100px;
    /* Espacio entre los selects */
    justify-content: space-between;
    position: relative;
    left: 300px;
    bottom: 20px;
}
#select-1,#select-2{
    background-color: rgba(113, 99, 186, 255);
    padding: 10px;
    border-radius: 5px;
    color: #fff;  
}

#select-1:hover{
    background-color: rgb(240, 8, 93);
    cursor: pointer;
    
}
#select-2:hover{
    background-color: rgb(240, 8, 93);
    cursor: pointer;
}
.title--content{
    
    height: 100px;
    left: 400px;
    position: relative; /* Importante para establecer un contexto de apilamiento */
    z-index: 1; /* Z-index determina la elevación */
}
.titulo--inventario{
    color:rgb(240, 8, 93);
}
input[type="date"] {
    background-color: rgba(113, 99, 186, 255);
    padding: 5px;
    transform: translate(-50%, -50%);
    left: 48%;
    font-family: "Roboto Mono" monospace;
    color: #ffffff;
    font-size: 10px;
    border: 5px;
    outline: none;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 130px; /* Ajusta la posición superior según sea necesario */
    z-index: 2; /* Z-index mayor que el div1 para superponerlo */
}



/**INICIO TABLA INVENTARIO***************/
.table-wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.table--content {
    width: 100%;
}